/* Definierar egna färger som CSS-variabler, gör light till ljusgrön färg
för bakgrundsfärgen av bootstrap */

:root {
    --light: #e7f1e8;
    --primary: #769a7a;
}

.bg-light {
    background-color: var(--light) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(118, 154, 122, 0.6);
        backdrop-filter: blur(10px);
    }
}
